.col1{
    background-color: var(--bs-light);
}
.col2{
    background-color: var(--bs-tertiary-color);
    color: white;
}
.col3{
    background-color: var(--bs-primary);
    color: white;
}
.col4{
    background-color: var(--bs-success);
    color: white;
}
.col5{
    background-color: var(--bs-danger);
    color: white;
}