
.col2{
    color: white;
    
}
.col3{
    color: white;
    
}
.col4{
    
    color: white;
    
}
.col5{
    
    color: white;
  
}
.col6{
    
    color: white;
   
}
.col7{
    
    color: white;
   
}
.col8{
   
    color: white;
   
}
